<!doctype html>
<html class="no-js" lang="en-us">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Boiler Plate{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cloudfront.siteworxpro.com/font-awesome-pro/5.10.0/css/all.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <v-app>
        {% block content %}{% endblock %}
    </v-app>
</div>
    <script src="/js/app.min.js"></script>
    <script src="/js/styles.min.js"></script>
</body>
</html>